[project]
	description = a simple test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Georgios Mentakis (georgiosmnt)
[access "refs/for/refs/*"]
	read = group user/Georgios Mentakis (georgiosmnt)
	push = group user/Georgios Mentakis (georgiosmnt)
	label-Code-Review = -2..+2 group user/Georgios Mentakis (georgiosmnt)
	label-Verified = -1..+1 group user/Georgios Mentakis (georgiosmnt)
	rebase = group user/Georgios Mentakis (georgiosmnt)
	removeReviewer = group user/Georgios Mentakis (georgiosmnt)
	submit = group user/Georgios Mentakis (georgiosmnt)
[access "refs/heads/*"]
	read = group user/Georgios Mentakis (georgiosmnt)
	create = group user/Georgios Mentakis (georgiosmnt)
	push = +force group user/Georgios Mentakis (georgiosmnt)
	pushMerge = group user/Georgios Mentakis (georgiosmnt)
[access "refs/tags/*"]
	push = group user/Georgios Mentakis (georgiosmnt)
	push = +force group user/Georgios Mentakis (georgiosmnt)
